# The node modules directory.
node_modules/

# The VSCode configurations directory
.vscode/

# Environment variables files
.env*
.env.dev*
.env.test*
.env.stag*
.env.prod*

# Node Version Manager configuration
.nvmrc

# Docker files
Dockerfile
docker-compose.yml
